<section class="our-team white-bg page-section-pt">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="team">
          <div class="team-images">
            <img class="img-responsive center-block" src="../../../assets/images/table/table01.jpg" alt="">
          </div>
          <div class="team-content">
            <div class="team-description">
              <h6>Lorem Ipusum</h6>
              <span>Lorem Ipusm andr ser bguyt usskks</span>
            </div>
            <div class="team-social">
              <button class="btn btn-primary reserve" type="button">Reserve</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="team">
          <div class="team-images">
            <img class="img-responsive center-block" src="../../../assets/images/table/table02.jpg" alt="">
          </div>
          <div class="team-content">
            <div class="team-description">
              <h6>Lorem Ipusum</h6>
              <span>Lorem Ipusm andr ser bguyt usskks</span>
            </div>
            <div class="team-social">
              <button class="btn btn-primary reserve" type="button">Reserve</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="team">
          <div class="team-images">
            <img class="img-responsive center-block" src="../../../assets/images/table/table03.jpg" alt="">
          </div>
          <div class="team-content">
            <div class="team-description">
              <h6>Lorem Ipusum</h6>
              <span>Lorem Ipusm andr ser bguyt usskks</span>
            </div>
            <div class="team-social">
              <button class="btn btn-primary reserve" type="button">Reserve</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="team">
          <div class="team-images">
            <img class="img-responsive center-block" src="../../../assets/images/table/table_01_2.jpg" alt="">
          </div>
          <div class="team-content">
            <div class="team-description">
              <h6>Lorem Ipusum</h6>
              <span>Lorem Ipusm andr ser bguyt usskks</span>
            </div>
            <div class="team-social">
              <button class="btn btn-primary reserve" type="button">Reserve</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="team">
          <div class="team-images">
            <img class="img-responsive center-block" src="../../../assets/images/table/table_02_2.jpg" alt="">
          </div>
          <div class="team-content">
            <div class="team-description">
              <h6>Lorem Ipusum</h6>
              <span>Lorem Ipusm andr ser bguyt usskks</span>
            </div>
            <div class="team-social">
              <button class="btn btn-primary reserve" type="button">Reserve</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="team">
          <div class="team-images">
            <img class="img-responsive center-block" src="../../../assets/images/table/table_03_2.jpg" alt="">
          </div>
          <div class="team-content">
            <div class="team-description">
              <h6>Lorem Ipusum</h6>
              <span>Lorem Ipusm andr ser bguyt usskks</span>
            </div>
            <div class="team-social">
              <button class="btn btn-primary reserve" type="button">Reserve</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>