<div [hidden]="show">
    <p style="color: red">Are you sure you want to cancel this resevation?</p>
    <br>
    <br>

    <div mat-dialog-actions>
        <button mat-button class="btn btn-success" (click)="cancelReservation()">Cancel</button>
        <button mat-button class="btn btn-danger" (click)="cancel()">Close</button>
    </div>
</div>

<div [hidden]="!show">
    <p style="color: red">This item cannot be deleted at the moment..</p>
    <br>
    <br>
    <p style="color: red">Its currently in use.</p>
    <br>
    <br>
    <div mat-dialog-actions>
        <button mat-button class="btn btn-danger" (click)="close()">Close</button>
    </div>
</div>