<section class="reservation book-a-table">
  <div class="page-section-ptb">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="table-about mt-50">
            <h3 class="mb-20">About book a table</h3>
            <p>Laudantium ipsam, quas numquam facere optio nesciunt. Incidunt, rem sequi, distinctio natus reiciendis
              reprehenderit cum provident cupiditate, nulla, iusto odit libero placeat Lorem ipsum dolor sit amet,
              consectetur adipisicing elit.</p>
            <p class="mt-30">Consectetur adipisicing elit. Possimus debitis ducimus commodi libero esse aliquam quae
              autem, consectetur quaerat assumenda eius, explicabo harum est necessitatibus dicta beatae ipsum.
              Pariatur, fugit!.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="table-info mt-50">
            <h3 class="mb-20">book a table info</h3>
            <p>Saepe officia vero qui, dicta voluptatum lorem ipsum dolor sit amet, consectetur adipisicing elit.
              dolores molestiae et doloribus ullam expedita. </p>
            <div class="contact-box-left">
              <div class="icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="info">
                <p>1234 North Avenue Luke, IN 360001</p>
              </div>
            </div>
            <div class="contact-box-left">
              <div class="icon">
                <i class="fa fa-envelope-o"></i>
              </div>
              <div class="info">
                <p>support@website.com</p>
              </div>
            </div>
            <div class="contact-box-left">
              <div class="icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="info">
                <p>(01) 123 456 7890</p>
              </div>
            </div>
            <div class="contact-box-left">
              <div class="icon">
                <i class="fa fa-fax"></i>
              </div>
              <div class="info">
                <p>(01) 123 456 7890</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>