<!--=================================
 intro bg -->

<div class="inner-intro_profile parallax bg-overlay-black-70" style="background-image: url(../../../assets/images/bg/03.jpg);">
</div>

<!--=================================
    intro bg -->
<!--=================================
  contact -->

<section class="contact white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="title-separator">
                        <i class="glyph-icon flaticon-food-27"></i>
                    </div>
                    <h2> <span class="text-orange">Contact </span> Us</h2>
                    <p>It would be great to hear from you! If you got any questions</p>
                </div>
            </div>
        </div>
        <div class="row" *ngFor="let addrss of address">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="contact-box text-center">
                    <i class="fa fa-map-marker"></i>
                    <h5>Address</h5>
                    <p>{{ addrss.street}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="contact-box text-center">
                    <i class="fa fa-phone"></i>
                    <h5>Phone</h5>
                    <p> {{addrss.contactNumber}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="contact-box text-center">
                    <i class="fa fa-envelope-o"></i>
                    <h5>Email</h5>
                    <p> {{ addrss.supportEmail }}</p>
                </div>
            </div>
        </div>

    </div>
</section>

<!--=================================
      contact -->

<!--=================================
      contact-map -->

<section class="contact-map">
    <div class="container-fluid">
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.017231421863!2d-79.43780268425046!3d36.09306798010035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88532bae09664ccb%3A0xaa6b8f98d3fb8135!2s220+E+Front+St%2C+Burlington%2C+NC+27215%2C+USA!5e0!3m2!1sen!2sin!4v1475045272926"-->
            <!--width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>-->
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7448.93362919169!2d105.52722982644158!3d21.013999667425168!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa3c62e29d8ab37e4!2sFPT+University!5e0!3m2!1sen!2s!4v1545877979053"
                width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>

<!--=================================
      contact-map -->