.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 50%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    margin: auto;
}

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    top: 5%;
}
.di-delete{
    background-color: red;
    color: white;
}
.btn-success{
    background-color: #7AC29A;
    color: #ffffff;
}
.sacialUrl{
    width: 90px;
    border-radius: 20px;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}