<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>View Customer</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>UserName: {{user.login}}</p>
    <br>
    <p>First Name: {{user.firstName}}</p>
    <br>
    <p>Last Name: {{user.lastName}}</p>
    <br>
    <p>Email: {{user.email}}</p>
    <br>
    <p>Date of birth: {{customers.dateOfBirth}}</p>
    <br>
    <p>Phone Number: {{customers.phoneNumber}}</p><br>
    <p>Address: {{customers.address}}</p>
    <br>
    <br>
    <br>
    <br>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
      <div class="form-check">
        <label class="form-check-label" for="activated">
          <input class="form-check-input" [disabled]="user.id === null" type="checkbox" id="activated" name="activated" [(ngModel)]="user.activated">
          <span jhiTranslate="userManagement.activated">Activated</span>
        </label>
      </div>

      <div>
        <button type="button" class="btn btn-secondary" (click)="previousState()">&nbsp;<span
                jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
          &nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>