<!--=================================
 intro bg -->

<div class="inner-intro_profile parallax bg-overlay-black-70" style="background-image: url(../../../assets/images/bg/03.jpg);">
</div>

<!--=================================
   intro bg -->
<h3 class="mt-30 cartText">Cart Items</h3>
<div class="row order">
    <div class="col-md-12">
        <div class="mat-elevation-z8">

            <div class="row">
                <div class="col-md-12">
                    <!-- <mat-form-field class="filter-staffa">
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                      </mat-form-field> -->
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource">

                            <!-- Position Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let i = index"> {{ + i + 1}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Prodcut Name </th>
                                <td mat-cell *matCellDef="let element"> {{ element.productName }} </td>
                            </ng-container>

                            <!-- productPrice Column -->
                            <ng-container matColumnDef="productPrice">
                                <th mat-header-cell *matHeaderCellDef> Prodcut Price </th>
                                <td mat-cell *matCellDef="let element"> {{element.productPrice | currency: '$'}} </td>
                            </ng-container>

                            <!-- dateOfBirth Column -->
                            <ng-container matColumnDef="totalItem">
                                <th mat-header-cell *matHeaderCellDef> totalItem </th>
                                <td mat-cell *matCellDef="let element"> {{ element.totalItem }} </td>
                            </ng-container>

                            <ng-container matColumnDef="totalPrice">
                                <th mat-header-cell *matHeaderCellDef> Total Price </th>
                                <td mat-cell *matCellDef="let element"> {{ getTotalPrice(element.productPrice, element.totalItem) | currency: '$' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element"><button (click)="removeItem(element.id)" class="btn btn-danger">Remove</button></td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                    </div>
                </div>
            </div>

            <!-- <div class="btn-div-update">
         <button class="btn btn-primary updatBtn">Update Cart</button>
      </div> -->
        </div>
        <div class="row" *ngIf="carts.length >= 1">
            <div class="col-md-6 coupon-div">
                <form [formGroup]="couponForm">
                    <div class="input-group mb-3">
                        <input formControlName="couponCode" type="text" class="updateCart" placeholder="Enter Coupon" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <br>
                        <br>
                        <div class="input-group-append">
                            <button (click)="applyCoupon()" class="btn btn-outline-secondary" type="button">Apply Coupon</button>
                        </div>
                    </div>

                    <div class="row">
                        <div *ngIf="errorMessageCoupon" class="alert alert-danger ">
                            {{errorMessageCoupon}}
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-6 total-div">
                <p>BASE TOTAL: {{ totalPriceSave | currency }}</p>
                <p>Coupon: {{couponCode}} - {{couponAmount | currency}}</p>
                <p>TOTAL: {{totalPriceSave - couponAmount | currency}}</p>
            </div>

        </div>

        <div *ngIf="carts.length > 1" class="row" style="padding-top: 30px">
           <div class="haveOrderOrReservation" *ngIf="currentOrder.length >= 1">
               <p>Current Table Number: {{ currentOrder[0].bookTableId }}</p>
           </div>
            <br>
            <br>
            <div class="doNotHaveOrderOrReservation" *ngIf="currentOrder.length < 1">
                <form [formGroup]="tableForm">
                    <div class="col-lg-3 col-md-3 col-sm-3 sasa">
                        <div class="form-group" [class.has-error]="tableForm.get('tableId').invalid && submitForm || (tableForm.get('tableId')?.errors && tableForm.get('tableId').touched)">
                            <!-- <label>Choose table<span class="spanRequired">*</span>:</label> -->
                            <div class="form-group">
                                <label class="form-control-label" for="field_tableId">Choose Table Number</label>
                                <mat-select placeholder="Select Table" class="form-control" id="field_tableId" name="tableId" formControlName="tableId" required>
                                    <mat-option [value]="table.id" *ngFor="let table of tables;">{{table.id}}</mat-option>
                                </mat-select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div *ngIf="errorMessage" class="alert alert-danger ">
                {{errorMessage}}
            </div>
        </div>

        <div class="bttn" *ngIf="carts.length >= 1">
            <button (click)="orderNow()" name="Submit" class="button uppercase">
                Order Now</button>
        </div>
    </div>

    <div *ngIf="carts.length < 1">
        <h2>No Item..</h2>
    </div>
</div>