<!--=================================
 intro bg -->

<div class="inner-intro_profile parallax bg-overlay-black-70" style="background-image: url(../../../assets/images/bg/03.jpg);">
</div>

<!--=================================
   intro bg -->
<h3 class="mt-30 cartText">Cart Items</h3>
<div class="row order">
    <div class="col-md-12">
        <div class="mat-elevation-z8">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cartTable">
                        <th scope="row">1</th>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.qty}}</td>
                        <td>{{item.totalPrice}}</td>
                        <td><input type="number" min="1"></td>
                        <td><button>Remove</button></td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="btn-div-update">
         <button class="btn btn-primary updatBtn">Update Cart</button>
      </div> -->
        </div>
        <div class="row">
            <div class="col-md-6 coupon-div">
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="updateCart" placeholder="Enter Coupon" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Apply Coupon</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-6 total-div">
                <p>BASE TOTAL: $53.95</p>
                <p>Coupon: AXSDERN - $10</p>
                <p>TOTAL: $40.95</p>
            </div>

        </div>
        <button (click)="test()" name="Submit" class="button uppercase">
        Order Now</button>
    </div>
</div>