<!--=================================
 intro bg -->

<div class="inner-intro parallax bg-overlay-black-70" style="background-image: url(../../../assets/images/bg/02.jpg);">
    <div class="container">
        <div class="row text-center intro-title">
            <h1 class="text-orange">Menu</h1>
            <p class="text-white">We Know The Secret Of Your Success</p>
            <ul class="page-breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>Menu</span></li>
            </ul>
        </div>
    </div>
</div>

<!--=================================
   our-menu -->

<section class="our-menu white-bg  page-section-pt">
    <div class="container">
        <p></p>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="alert alert-info ">
                    <p>To view Available Product Click on the Category Icon <span class="glyph-icon flaticon-food-36"></span></p>
                </div>
                <br>
                <br>
                <div class="tabs clearfix">
                    <!-- Nav tabs CATEGORY-->
                    <ul class="tabs-link white text-center">
                        <li *ngFor="let categories of category; let i = index" [ngClass]="{active: i === 0}">
                            <a href="#tab-{{categories.id}}" data-toggle="tab">
                                <i (click)="changeTab(categories.id)" class="glyph-icon flaticon-food-36"></i>{{categories.name}}
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- TAB  PRODUCT BASE ON CATEGORY-->
                        <div role="tabpanel" class="tab-pane fade active in" id="tab-{{currentTab1}}">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let product of products">
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/dish/01.png" alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>{{product.name}}</h4>
                                                <span style="padding: 15px"><button (click)="addTocart(product.id, product.name, product.price, product.createdDate)" mat-fab  color="primary">Order</button></span>
                                                <span class="price">${{product.price}}</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>{{product.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div *ngIf="noProductMeesage" class="alert alert-warning ">
                            <p>{{ noProductMeesage }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
   special-menu -->