<div class="container">
    <mat-card class="example-card">
        <div [hidden]="!authenticated()"><p class="auth-error">Authentication not successful, please check your user name and password and try again</p></div>
        <mat-card-title class="loginTitle">Login</mat-card-title>
        <form [formGroup]="loginForm" class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="User Name" formControlName="login">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput type="password" formControlName="password">
                <mat-placeholder>Password</mat-placeholder>
            </mat-form-field>

            <button class="loginBtn" (click)="login()" mat-raised-button color="primary">Login</button>
        </form>
    </mat-card>
    <div class="loginFooter">
        Login to HappyHour admin panel.
    </div>
</div>